################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CrmLeadImport/v15
/CrmLeadImport/bin/Debug
/CrmLeadImport/obj/Debug
